---
import { Image } from "astro:assets";
import ContactButton from "./Contact Button.astro";

const { class: className = "" } = Astro.props;
---

<div class={`w-full flex justify-center ${className}`}>
  <div class="relative w-min sm:w-full flex flex-col sm:flex-row gap-8 sm:gap-4 justify-around">
    <ContactButton label="Contact Us" />
    <ContactButton label="Call Us" />
  </div>
</div>