---
const { label , class: className = ""} = Astro.props;
---

<a class=`w-max h-max bg-secondary p-6 rounded-4xl hover:scale-105 text-background hover:bg-background hover:text-secondary transition-all duration-300 cursor-pointer shadow-lg ${className}`>
    <span class="text-inherit font-source-sans text-3xl lg:text-4xl 2xl:text-5xl font-bold whitespace-nowrap">{label}</span>
</a>