<footer class="bg-[#0F2128] relative w-screen h-fit text-white">
  <div class="flex flex-col items-center justify-center h-full gap-1">
    <p>&copy; 2024 Aqualux Sarasota LLC. All rights reserved.</p>
    <p>Sarasota, FL 34236 | +1 941-287-5018 |</p>
    <p>Licensed and Secured Pool & Spa Operator by Pool & Hot Tub Alliance.</p>
    <div class="flex gap-2">
      <a
        class="underline"
        href="https://www.facebook.com/p/AquaLux-Sarasota-LLC-61574315646099/"
        target="_blank"
      >
        Facebook
      </a>
      <a
        class="underline"
        href="https://www.instagram.com/aqualux_sarasotapoolservice/"
        target="_blank"
      >Instagram
      </a>
      <a
        class="underline"
        href="https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm"
        target="_blank"
      >
        Angi
      </a>
    </div>
  </div>
</footer>
