---

import { Image } from 'astro:assets';
import logo from '../images/logo.ico';

---


<header class="fixed after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:bg-gradient-to-b after:from-secondary/95 after:from-0% after:to-primary/0 after:h-[150%] after:transition-all after:duration-300 hover:after:h-[250%] after:pointer-events-none font-bebas-neue text-4xl w-screen h-[125px] flex items-center justify-center px-10  header-reveal-animation z-10">
    <div class="relative z-10 flex items-center justify-center gap-3">
        <Image width={80} height={80} src={logo} alt="Aqualux Sarasota Logo" class="" />
        <h1 class="text-background">Aqualux Sarasota</h1>
    </div>
</header>