---
import LogoImage from "../images/HeroImageNoText.png";
import { Image } from "astro:assets";
import ContactButton from "./Contact Button.astro";
import ContactButtonsSection from "./Contact Buttons Section.astro";
---

<div
  class="w-full h-screen logo-reveal-animation flex flex-col items-center justify-center"
>
  <div
    class="logo-hide-scroll-animation w-full flex flex-col items-center justify-center"
  >
    <Image
      src={LogoImage}
      alt="Aqualux Sarasota Logo"
      class="w-[90%] xl:w-[45%] 2xl:w-[75%] h-fit"
    />

    <div
      class="flex flex-col items-center justify-center col-start-1 col-end-3 lg:row-auto lg:col-auto"
    >
      <h1 class="font-bebas-neue text-secondary  xl:text-8xl 2xl:text-title xs:text-9xl text-8xl p-0 mt-2">AQUALUX</h1>
      <h2
        class="font-source-sans 2xl:text-7xl sm:text-6xl text-4xl text-secondary"
      >
        SARASOTA
      </h2>
    </div>

    <ContactButtonsSection class="mt-4" />
  </div>
</div>
