---
import Logo from "./Logo.astro";




---


    <!-- <h1 class="text-6xl text-center font-bebas-neue text-primary">Your Trusted Florida Sarasota Pool Service Experts</h1>
    <p class="text-center mt-5 text-lg max-w-2xl mx-auto">At Aqualux Sarasota LLC, we specialize in comprehensive pool services including maintenance, cleaning, repairs, and renovations. Our team of certified professionals is dedicated to ensuring your pool remains a pristine and enjoyable oasis year-round. With a commitment to quality and customer satisfaction, we tailor our services to meet your specific needs, providing reliable and efficient solutions for both residential and commercial pools in the Sarasota area.</p> -->
<div class="w-full flex justify-center items-center">
    <section class="min-h-[250dvh] flex flex-col items-center">
        <Logo />
    </section>
</div>