---
const { label } = Astro.props;
---

<a class="w-max h-max bg-secondary p-4 rounded-4xl hover:scale-105 transition-transform duration-300 cursor-pointer shadow-lg">
    <span class="text-background font-source-sans text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl font-bold whitespace-nowrap">{label}</span>
</a>