---
import Review from "../components/Review.astro";

const testimonials = [
  {
    stars: 5,
    name: "D B.",
    comment:
      "Eli was great about communicating and came over within a day. He cleaned the pool on the spot. I could see he was what I wanted in a pool service and we agreed to terms. I Recommend!!",
    date: "May 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
  {
    stars: 5,
    name: "Valeria Arango",
    comment:
      "I am extremely happy with the pool cleaning service! They come every week right on time, always leave the pool sparkling clean, and take care of every detail. The team is very professional, reliable, and friendly. Thanks to them, I can enjoy my pool without any worries. Highly recommended!!!!",
    date: "Aug 2025",
    imgsrc:
      "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png",
    href: "https://www.google.com/search?hl=es-CO&gl=co&q=Aqualux+Sarasota&ludocid=11073951559036530858&lsig=AB86z5XiBhx6DUsQFdYDpwO1XIFV&hl=es&gl=CO#lrd=0x48adf9fb8fd3e935:0x99ae9445484170aa,1",
  },
  {
    stars: 5,
    name: "Greg E.",
    comment:
      "Absolutely the best pool service since we have lived here in the past five years. Aqualux has been cleaning our pool for about a year now, and we have never had any issues. Anything that needs to be done, he does it before you need to ask. In the beginning when we hired this company, we had pool pump timing issues, and he figured it out when the other companies gave up. We had one pool service that had a different technician every week! We had others that took 5 minutes to “clean”, and left thinking they actually did something. THIS COMPANY GETS THE JOB DONE! Thanks Eli!!!!",
    date: "Apr 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
  {
    stars: 5,
    name: "Luanne K.",
    comment:
      "Eli at AquaLux is fantastic!! He runs his business with great customer care. Eli is professional, honest and really cares about making his clients happy.. My pool is sparkling blue!! Thank you Eli for making my pool look beautiful!! LuAnne Kirschner",
    date: "Apr 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
  {
    stars: 5,
    name: "Gina Tordjeman",
    comment:
      "I am extremely happy with the pool cleaning service! They come every week right on time, always leave the pool sparkling clean, and take care of every detail. The team is very professional, reliable, and friendly. Thanks to them, I can enjoy my pool without any worries. Highly recommended!!!!",
    date: "Aug 2025",
    imgsrc:
      "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1200px-Google_%22G%22_logo.svg.png",
    href: "https://www.google.com/search?hl=es-CO&gl=co&q=Aqualux+Sarasota&ludocid=11073951559036530858&lsig=AB86z5XiBhx6DUsQFdYDpwO1XIFV&hl=es&gl=CO#lrd=0x48adf9fb8fd3e935:0x99ae9445484170aa,1",
  },
  {
    stars: 5,
    name: "Charlotte C.",
    comment: "Very prompt and professional",
    date: "Apr 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
  {
    stars: 5,
    name: "Dayrin L.",
    comment:
      "They do an amazing job! They're always on time, professional, and leave my pool crystal clear. Super reliable and friendly, highly recommend!",
    date: "Apr 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
  {
    stars: 5,
    name: "Paula P.",
    comment: "They do an excellent job with my pool",
    date: "Apr 2025",
    imgsrc: "https://media.angi.com/s3fs-public/Angi-logo-Orange.svg",
    href: "https://www.angi.com/companylist/us/fl/sarasota/aqualux-sarasota-reviews-1.htm#reviews",
  },
];
---

<div class="max-w-screen content-reveal-animation mt-8">
  <div class="flex">
    <ul class="flex auto-run-animation h-max">
      {
        [...testimonials, ...testimonials].map((testimonial) => (
          <Review {...testimonial} />
        ))
      }
    </ul>
  </div>
</div>
